.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Alata", sans-serif;
  max-width: 1400px;
}
img {
  max-width: 100%;
}

a:hover {
  /* background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
  background-repeat: no-repeat;
  transition: background-size 700ms;
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%; */
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.hero {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
}

.logo {
  padding-top: 3em;
  margin-left: 3em;
}

.hero__title {
  border: 2px solid white;
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin: 2em 9em 1em 1em;
  padding: 0.5em 0 0.5em 0.5em;
}
.hero__image {
  background-image: url(./images/desktop/image-hero.jpg);
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}

.top {
  display: flex;
}

.hero__menu {
  display: flex;
  align-items: flex-end;
  gap: 2em;
  color: white;
  text-decoration: none;
  margin-left: 35rem;
}

.hamburger {
  opacity: 0;
}

.first-section {
  max-width: 1400px;
  display: flex;
  margin: 8em 8em 8em 8em;
}

.main__title {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.main__text {
  padding: 6em 5em 0em 5em;
  margin-top: 10em;
  background-color: white;
  position: absolute;
  top: 45em;
  left: 43em;
}

.main__p {
  color: grey;
  font-size: 1rem;
}

.main__image {
  width: 80%;
}

.second-section {
  margin: 7em 2em 8em 6em;
  /* max-width: 1400px; */
}

.second__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second__title {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.button {
  justify-content: end;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  padding: 0.5em 2em;
  background-color: white;
  border: solid 1px black;
}

.button:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  position: relative;
}

.grid__title {
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

#earth {
  position: absolute;
  top: 16em;
  left: 2em;
  color: white;
}
#arcade {
  position: absolute;
  top: 16em;
  color: white;
  left: 13em;
}
#soccer {
  position: absolute;
  top: 16em;
  left: 25em;
  color: white;
}
#above {
  position: absolute;
  top: 36em;
  color: white;
}
#borealis {
  position: absolute;
  top: 36em;
  color: white;
  left: 12.5em;
}
#grid {
  position: absolute;
  top: 16em;
  left: 37em;
  color: white;
}
#curiosity {
  position: absolute;
  top: 36em;
  left: 25em;
  color: white;
}
#fisheye {
  position: absolute;
  top: 36em;
  left: 37em;
  color: white;
}

footer {
  background-color: black;
}
.footer {
  display: flex;
}
.footer__top {
  display: flex;
  align-items: baseline;
}
.footer__image {
  margin-left: 6em;
  padding-top: 2em;
}
.footer__social {
  display: flex;
  gap: 1em;
  margin-left: 48em;
  align-items: flex-end;
}

.footer__bottom {
  display: flex;
  align-items: baseline;
}

.footer__menu {
  display: flex;
  color: white;
  text-decoration: none;
  gap: 1em;
  margin-left: 6em;
}

.rights {
  color: grey;
  margin-left: 31em;
}

@media (max-width: 600px) {
  body {
    margin: 0 auto;
    padding: 0;
    width: 375px;
    max-width: 375px;
  }
  .hero__image {
    background-image: url(./images/mobile/image-hero.jpg);
    width: 100%;
  }
  .hero__title {
    font-size: 2rem;
    border: solid 2px white;
    margin: 4.5em 0.5em 1em 1em;
    padding: 0.5em 3em 0.5em 0.8em;
  }
  .logo {
  }
  .hamburger {
    opacity: 100;
  }
  .hamburger__nav {
    display: flex;
    justify-content: space-between;
  }
}
