.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Alata", sans-serif;
}

.hero {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
}

.logo {
  padding-top: 3em;
  margin-left: 3em;
}

.hero__title {
  border: 2px solid white;
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin: 2em 9em 1em 1em;
  padding: 0.5em 0 0.5em 0.5em;
}
.hero__image {
  background-image: url(./images/desktop/image-hero.jpg);
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}

.top {
  display: flex;
}

.hero__menu {
  display: flex;
  align-items: flex-end;
  gap: 2em;
  color: white;
  text-decoration: none;
  margin-left: 35rem;
}

.first-section {
  max-width: 1400px;
  display: flex;
  margin: 8em 8em 8em 8em;
}
.main__image {
  width: 50%;
  max-width: 100%;
}
.main__title {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.main__text {
  padding: 2em 0em 2em 3em;
  margin-top: 10em;
  background-color: white;
  /* border: solid red 2px; */
}

.main__p {
  color: grey;
  font-size: 1rem;
}

.second-section {
  margin: 8em;
}

.second__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second__title {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.button {
  justify-content: end;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  padding: 0.5em 2em;
  background-color: white;
  border: solid 1px black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  position: relative;
}

.grid__title {
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

#soccer {
  position: absolute;
  top: 2em;
}
